/* ==========================================================================
   SASS VARIABLES
   ========================================================================== */

/* Fonts */
$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Bungee', sans-serif;

/* Font colors */
$primary-color: #1d3557;
$secondary-color: #FFFFFF;
$error-color: #e63946;
$handle-color: #cedfe0;

/* Backgrounds */
$background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
$primary-background-color: #f1faee;
$header-background-color: #a8dadc;
$nav-background-color: #1d3557;

/* Buttons */
$nav-btn-color: #e63946;
$form-btn-color: #1d3557;
$scroll-btn-color: #e63946;
$scroll-btn-hover-color: #a8dadc;
$icon-hover-color: #FFCC66;

/* Other colors */
$border-color: #1d3557;
$separator-color: #1d3557;
$box-shadow-color: #a8dadc;
$text-shadow-color: #457b9d;








