/* ==========================================================================
   HEADER
   ========================================================================== */
/* ==========================================================================
   SASS VARIABLES
   ========================================================================== */
/* Fonts */
/* Font colors */
/* Backgrounds */
/* Buttons */
/* Other colors */
.header-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 90px;
  height: 490px;
  border-radius: 0;
  background-color: #a8dadc;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
.header-profile div {
  text-align: center;
}
.header-profile div img {
  max-width: 40%;
  border-radius: 50%;
}
.header-profile div .header-name {
  font-family: "Source Sans Pro", sans-serif;
}
