/* ==========================================================================
   HEADER
   ========================================================================== */

.header-profile {
  padding-top: 90px;
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d0e1ed;
  background-image: url("https://www.transparenttextures.com/patterns/pineapple-cut.png");
}

.header-profile div {
  text-align: center;
}

.header-profile div img {
  max-width: 70%;
}

.header-name {
  font-family: 'Source Sans Pro', sans-serif;
}

.bold {
  font-weight: bold;
}

