/* ==========================================================================
   NAVIGATION BAR
   ========================================================================== */
/* ==========================================================================
   SASS VARIABLES
   ========================================================================== */
/* Fonts */
/* Font colors */
/* Backgrounds */
/* Buttons */
/* Other colors */
nav {
  display: flex;
  height: 120px;
  width: 100vw;
  background-color: none;
  color: #FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  /* (Default) '.active' class added when user is at the top of the page, or scrolling up */
  /* (cf. composer.js script file) */
  /*  When user is scrolling down  */
}
nav .tweeter {
  font-family: "Bungee", sans-serif;
  font-size: 2em;
  margin-top: 0.3em;
  text-shadow: 2px 2px 8px #457b9d;
}
nav .nav-new-tweet.active {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.8em;
  padding-top: 10px;
  text-shadow: 2px 2px 8px #457b9d;
}
nav .nav-new-tweet {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.8em;
  transition: 0.5s all ease;
}
nav .nav-new-tweet button {
  color: #e63946;
  text-shadow: 1px 1px 6px #457b9d;
  padding-top: 2px;
  background: none;
  border: none;
  animation: pulse 1s infinite ease-in-out alternate;
  cursor: pointer;
}
nav .nav-new-tweet button:hover {
  color: #FFFFFF;
}
@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}
