/* ==========================================================================
   NEW TWEET SECTION
   ========================================================================== */

section.new-tweet {
  margin-top: 20px;
  margin-bottom: 50px;
}


.label {
  font-weight: bold;
  text-align: left;
}

#tweet-text {
  width: 100%;
  background: transparent;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 4px;
  font-size: 90%;
  padding-bottom: 0px;
  padding-top: 5px;
}

#error {
  font-size: medium;
  font-weight: bold;
  color: #FF0000;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-footer > button {
  background-color: #4152a0;
  color: #FFFFFF;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}

.counter.invalid {
  color: #FF0000;
}

.counter {
  margin-right: 10px;
  margin-left: 10px;
}

