/* ==========================================================================
   SCROLL UP BUTTON
   ========================================================================== */
/* ==========================================================================
   SASS VARIABLES
   ========================================================================== */
/* Fonts */
/* Font colors */
/* Backgrounds */
/* Buttons */
/* Other colors */
.scroll-up {
  position: fixed;
  bottom: 1em;
  right: 1em;
  /* (Default) */
  /* When user is scrolling down. */
  /* (cf. composer.js script file) */
}
.scroll-up #scroll-up-btn {
  background: #e63946;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-color: transparent;
  color: #FFFFFF;
  opacity: 0;
  transition: 0.5s all ease;
  cursor: pointer;
}
.scroll-up #scroll-up-btn.active {
  opacity: 1;
}
.scroll-up #scroll-up-btn:hover {
  background-color: #a8dadc;
}
